Text Vectorization

In [8]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [2]:
data = ["this is a sentence one and it has many words and these words are just some words", "vampire drank the blood", "the bus arrives everyday at the same time"]

In [3]:
countvec = CountVectorizer()

In [4]:
countvec_fit = countvec.fit_transform(data)

In [5]:
bag_of_words = pd.DataFrame(countvec_fit.toarray(), columns = countvec.get_feature_names_out())
bag_of_words.head()

,and,are,arrives,at,blood,bus,drank,everyday,has,is,...,one,same,sentence,some,the,these,this,time,vampire,words
0,2,1,0,0,0,0,0,0,1,1,...,1,0,1,1,0,1,1,0,0,3
1,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,0,0,1,1,0,1,0,1,0,0,...,0,1,0,0,2,0,0,1,0,0

In [10]:
tf_idf = TfidfVectorizer()
tf_idf_fit = tf_idf.fit_transform(data)

In [12]:
tfidf_bag = pd.DataFrame(tf_idf_fit.toarray(), columns = tf_idf.get_feature_names_out())
tfidf_bag.head()

,and,are,arrives,at,blood,bus,drank,everyday,has,is,...,one,same,sentence,some,the,these,this,time,vampire,words
0,0.408248,0.204124,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.204124,0.204124,...,0.204124,0.000000,0.204124,0.204124,0.000000,0.204124,0.204124,0.000000,0.000000,0.612372
1,0.000000,0.000000,0.000000,0.000000,0.528635,0.000000,0.528635,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.402040,0.000000,0.000000,0.000000,0.528635,0.000000
2,0.000000,0.000000,0.346821,0.346821,0.000000,0.346821,0.000000,0.346821,0.000000,0.000000,...,0.000000,0.346821,0.000000,0.000000,0.527533,0.000000,0.000000,0.346821,0.000000,0.000000