In [2]:
import spacy
import pandas as pd

In [3]:
nlp = spacy.load("en_core_web_sm")

In [4]:
emma_ja = """Emma Woodhouse, handsome, clever, and rich, with a comfortable home and happy disposition, seemed to unite some of the best blessings of existence; and had lived nearly twenty-one years in the world with very little to distress or vex her.

She was the youngest of the two daughters of a most affectionate, indulgent father; and had, in consequence of her sister’s marriage, been mistress of his house from a very early period. Her mother had died too long ago for her to have more than an indistinct remembrance of her caresses; and her place had been supplied by an excellent woman as governess, who had fallen little short of a mother in affection.

Sixteen years had Miss Taylor been in Mr. Woodhouse’s family, less as a governess than a friend, very fond of both daughters, but particularly of Emma. Between them it was more the intimacy of sisters. Even before Miss Taylor had ceased to hold the nominal office of governess, the mildness of her temper had hardly allowed her to impose any restraint; and the shadow of authority being now long passed away, they had been living together as friend and friend very mutually attached, and Emma doing just what she liked; highly esteeming Miss Taylor’s judgment, but directed chiefly by her own.

The real evils, indeed, of Emma’s situation were the power of having rather too much her own way, and a disposition to think a little too well of herself; these were the disadvantages which threatened alloy to her many enjoyments. The danger, however, was at present so unperceived, that they did not by any means rank as misfortunes with her.

Sorrow came—a gentle sorrow—but not at all in the shape of any disagreeable consciousness.—Miss Taylor married. It was Miss Taylor’s loss which first brought grief. It was on the wedding-day of this beloved friend that Emma first sat in mournful thought of any continuance. The wedding over, and the bride-people gone, her father and herself were left to dine together, with no prospect of a third to cheer a long evening. Her father composed himself to sleep after dinner, as usual, and she had then only to sit and think of what she had lost."""

In [5]:
spacy_doc = nlp(emma_ja)

In [6]:
pos_df = pd.DataFrame(columns=['token', 'pos_tag'])

In [8]:
for token in spacy_doc:
    pos_df = pd.concat([pos_df, pd.DataFrame.from_records([{'token': token.text, 'pos_tag': token.pos_}])], ignore_index=True)

In [9]:
pos_df.head(15)

          token pos_tag
0          Emma   PROPN
1     Woodhouse   PROPN
2             ,   PUNCT
3      handsome     ADJ
4             ,   PUNCT
5        clever     ADJ
6             ,   PUNCT
7           and   CCONJ
8          rich     ADJ
9             ,   PUNCT
10         with     ADP
11            a     DET
12  comfortable     ADJ
13         home    NOUN
14          and   CCONJ

In [10]:
pos_df_count = pos_df.groupby(['token', 'pos_tag']).size().reset_index(name='counts').sort_values(by='counts', ascending=False)

In [12]:
pos_df_count.head(10)

    token pos_tag  counts
1       ,   PUNCT      27
144    of     ADP      22
3       .   PUNCT      13
185   the     DET      13
27    and   CCONJ      13
97    her    PRON      12
18      a     DET      11
196    to    PART      10
90    had     AUX       9
107    in     ADP       6

In [13]:
pos_df_poscounts = pos_df_count.groupby(['pos_tag'])['token'].count().sort_values(ascending=False)

In [14]:
pos_df_poscounts.head(10)

pos_tag
NOUN     56
VERB     36
ADJ      30
ADV      27
PRON     17
ADP      14
DET       8
PROPN     7
AUX       6
PUNCT     5
Name: token, dtype: int64

In [15]:
nouns = pos_df_count[pos_df_count.pos_tag == 'NOUN'][:10]

In [16]:
nouns

           token pos_tag  counts
84        friend    NOUN       4
88     governess    NOUN       3
80        father    NOUN       3
59     daughters    NOUN       2
68   disposition    NOUN       2
135       mother    NOUN       2
208      wedding    NOUN       2
217        years    NOUN       2
156        place    NOUN       1
164    restraint    NOUN       1